## 평균 점수
    - 국어	80
    - 영어	75
    - 수학	55

In [1]:
print((80+75+55)/3)

70.0

## 자연수 13이 홀수인지 짝수인지 판별

In [2]:
val_01 = 13
if (val_01 % 2) == 0:
    print("짝수")
else:
    print("홀수")

홀수

# 881120-1068234이다. 홍길동 씨의 주민등록번호를 연월일(YYYYMMDD) 부분과 그 뒤의 숫자 부분으로 나누어 출력

In [3]:
sample_data = "881120-1068234"
print(sample_data.split("-"))

['881120', '1068234']

# pin = "881120-1068234" 문자열 인덱싱으로 성별을 나타내는 숫자를 출력

In [8]:
pin = "881120-1068234"
print(int(pin[7]))

1

# [1, 3, 5, 4, 2] 리스트를 [5, 4, 3, 2, 1]로 만들어 보자.

In [5]:
lst_01 = [1, 3, 5, 4, 2]
lst_01.reverse()
print(lst_01)

[2, 4, 5, 3, 1]

# ['Life', 'is', 'too', 'short'] 리스트를 Life is too short 문자열로 만들어 출력해 보자.

In [7]:
lst_02 = ['Life', 'is', 'too', 'short']
print(" ".join(lst_02))

Life is too short

In [24]:
tpl_01 = (1, 2, 3)
tpl_02 = (4, 5)
tpl_01 + tpl_02

(1, 2, 3, 4, 5)

# 다음과 같은 딕셔너리 a가 있다. 오류가 발생하는 경우를 고르고, 그 이유를 설명해 보자.
    - a['name'] = 'python'
    - a[('a',)] = 'python'
    - a[[1]] = 'python'
    - a[250] = 'python'

In [25]:
a = dict()
a

{}

In [26]:
a['name'] = 'python'

In [27]:
a[('a',)] = 'python'

In [28]:
a[[1]] = 'python'

TypeError: unhashable type: 'list'

In [29]:
a[250] = 'python'

# 딕셔너리 a에서 'B'에 해당되는 값을 추출해 보자.
    ※ 딕셔너리의 pop 함수를 사용해 보자.

In [34]:
a = {'A':90, 'B':80, 'C':70}
a.pop('B')
a

{'A': 90, 'C': 70}

# 리스트에서 중복 숫자를 제거해 보자.

In [37]:
a = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

print(set(a))

{1, 2, 3, 4, 5}

# 파이썬은 다음처럼 동일한 값에 여러 개의 변수를 선언할 수 있다. 다음과 같이 a, b 변수를 선언한 후 a의 두 번째 요솟값을 변경하면 b 값은 어떻게 될까? 그리고 이런 결과가 오는 이유에 대해 설명해 보자.

In [39]:
a = b = [1, 2, 3]
a[1] = 4
print(b)
print(a)

[1, 4, 3]
[1, 4, 3]