문제
    - 두 정수 A와 B를 입력받은 다음, A+B를 출력하는 프로그램을 작성하시오.

입력
    - 첫째 줄에 A와 B가 주어진다. (0 < A, B < 10)

출력
    - 첫째 줄에 A+B를 출력한다.

In [ ]:
# 1. 입력받기
# 2. 입력 받은것의 검증
# 3. 오류처리
# 4. 계산
# 5. 출력

In [5]:
# 일단 아는것으로 빨리구현
a = int(input())
b = int(input())

print(a+b)

5

In [8]:
# 사용자 편의성 추가
a = int(input("입력 a > "))
b = int(input("입력 b > "))

print("{}, {} 두 수의 합 = {}".format(a, b, a+b))

7와 9 두 수의 합 = 16

In [14]:
# 코드 효율성 추가
a, b = map(int, input("두개의 int숫자 입력").split())

print("{}, {} 두 수의 합 = {}".format(a, b, a+b))

5, 8 두 수의 합 = 13

# (문제) 화면에 Hello World 문자열을 출력하세요.

In [15]:
print("Hello World")

Hello World

# 화면에 Mary's cosmetics을 출력하세요. (중간에 '가 있음에 주의하세요)

In [16]:
print("Mary's cosmetics")

Mary's cosmetics

# (문제) 아래 문장을 출력하세요. (중간에 "가 있음에 주의하세요.)
신씨가 소리질렀다. "도둑이야".

In [17]:
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

# (문제) 화면에 "C:\Windows"를 출력하세요.

In [18]:
print('"C:\Windows"')

"C:\Windows"

# (문제) print() 함수를 사용하여 다음과 같이 출력하세요.
    naver/kakao/sk/samsung

In [19]:
print("naver/kakao/sk/samsung")

naver/kakao/sk/samsung

# (문제) 5/3의 결과를 화면에 출력하세요.

In [20]:
print(5/3)

1.6666666666666667

# (문제) 삼성전자라는 변수로 50,000원을 바인딩해보세요. 삼성전자 주식 10주를 보유하고 있을 때 총 평가금액을 출력하세요.

In [21]:
삼성전자 = 50000
print("총평가금 = {}".format(삼성전자*10))

총평가금 = 500000

# (문제) 아래 변수에 바인딩된 값의 타입을 판별해보세요.

In [22]:
a = "132"
print(type(a))

<class 'str'>

# (문제) 문자열 '720'를 정수형으로 변환해보세요.

In [23]:
a = "720"
print(type(int(a)))

<class 'int'>

# (문제)정수 100을 문자열 '100'으로 변환해보세요.
    - num = 100

In [25]:
num = 100
print(type(str(num)))

<class 'str'>

# (문제) 에이컨이 월 48,584원에 무이자 36개월의 조건으로 홈쇼핑에서 판매되고 있습니다. 총 금액은 계산한 후 이를 화면에 출력해보세요. (변수사용하기)

In [26]:
m_price = 48584
print("36개월 합산 총금액 = {}".format(m_price*36))

36개월 합산 총금액 = 1749024

# (문제) letters가 바인딩하는 문자열에서 첫번째와 세번째 문자를 출력하세요.
    - >> letters = 'python'

In [31]:
letters = "python"
print(letters[0], letters[2])

p t

# (문제) 자동차 번호가 다음과 같을 때 뒤에 4자리만 출력하세요.
>> license_plate = "24가 2210"

In [37]:
license_plate = "24가 2210"
print(license_plate[-4:])

2210

# (문제) 아래의 문자열에서 '홀' 만 출력하세요.
>> string = "홀짝홀짝홀짝"

In [44]:
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

# (문제) 문자열을 거꾸로 뒤집어 출력하세요.
>> string = "PYTHON"

In [45]:
string = "PYTHON"
print(string[::-1])

NOHTYP

# (문제) 아래의 전화번호에서 하이푼 ('-')을 제거하고 출력하세요.
>> phone_number = "010-1111-2222"

In [46]:
phone_number = "010-1111-2222"
print(phone_number.replace("-"," "))

010 1111 2222

# (문제) 전화번호를 아래와 같이 모두 붙여 출력하세요

In [47]:
phone_number = "010-1111-2222"
print(phone_number.replace("-",""))

01011112222

# url 에 저장된 웹 페이지 주소에서 도메인을 출력하세요.
>> url = "http://sharebook.kr"

In [53]:
url = "http://sharebook.kr"
print(url.split(".")[1])

kr

# (문제) 아래 코드의 실행 결과를 예상해보세요.
>> lang = 'python'
>> lang[0] = 'P'
>> print(lang)

In [56]:
lang = 'python'
lang[0] = 'P'
print(lang)

TypeError: 'str' object does not support item assignment

# (문제) 아래 문자열에서 소문자 'a'를 대문자 'A'로 변경하세요.
>> string = 'abcdfe2a354a32a'

In [57]:
string = 'abcdfe2a354a32a'
print(string.replace("a","A"))

Abcdfe2A354A32A

# (문제) 문자열 곱하기
    > 화면에 '-'를 80개 출력하세요.

In [58]:
print("-" * 80)

--------------------------------------------------------------------------------

# (문제) 변수에 다음과 같은 문자열이 바인딩되어 있습니다.
    >>> t1 = 'python'
    >>> t2 = 'java'
    변수에 문자열 더하기와 문자열 곱하기를 사용해서 아래와 같이 출력해보세요.

    실행 예:
    python java python java python java python java

In [59]:
t1 = "python"
t2 = "java"

print((t1 + " "+ t2 + " ") * 4)

python java python java python java python java

# (문제) 변수에 다음과 같이 문자열과 정수가 바인딩되어 있을 때 % formatting을 사용해서 다음과 같이 출력해보세요.
    > name1 = "김민수" 
    > age1 = 10
    > name2 = "이철희"
    > age2 = 13

    > 이름: 김민수 나이: 10
    > 이름: 이철희 나이: 13

In [60]:
name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

# (문제) 삼성전자의 상장주식수가 다음과 같습니다. 컴마를 제거한 후 이를 정수 타입으로 변환해보세요.
    > 상장주식수 = "5,969,782,550"

In [62]:
상장주식수 = "5,969,782,550"
상장주식수 = int(상장주식수.replace(",",""))
print(상장주식수, type(상장주식수))

5969782550 <class 'int'>

# (문제) 다음과 같은 문자열에서 '2020/03'만 출력하세요.
    > 분기 = "2020/03(E) (IFRS연결)"

In [63]:
분기 = "2020/03(E) (IFRS연결)"
print(분기.split("(")[0])

2020/03

# (문제) 문자열의 좌우의 공백이 있을 때 이를 제거해보세요.
    > data = "   삼성전자    "

In [66]:
data = "   삼성전자    "
print(data.replace(" ",""))

삼성전자

# (문제) 다음과 같은 문자열이 있을 때 이를 대문자 BTC_KRW로 변경하세요.
    > ticker = "btc_krw"

In [67]:
ticker = "btc_krw"
print(ticker.upper())

BTC_KRW

# (문제) capitalize 메서드
    - 문자열 'hello'가 있을 때 이를 'Hello'로 변경해보세요.

In [68]:
print("hello".capitalize())

Hello

# (문제)